{% extends "base.html" %}
{% load static%}
{% block title %} Home Page {% endblock %}

{% block content %}
  <h1>Welcome to Home Page</h1>
  <p>This is the home page.</p>
  <img src="{% static 'images/logo.png' %}" alt="Home Image">
  <form method="POST">
    {% csrf_token %}
    <input type="text" name="username" placeholder="Username">
    <input type="password" name="password" placeholder="Password">
    <button type="submit">Login</button>
  </form>

    <button onclick="showAlert()">Click Me</button>

{% endblock %}